In [4]:
import pandas as pd

# Replace 'file_path.xlsx' with the path to your Excel file
file_path = 'historicalweeklydata.xlsx'

# Read the Excel file
df = pd.read_excel(file_path, skiprows=6,skipfooter=1, names = ('week', 'frm_30', 'points_30', 'frm_15', 'points_15',  'arm', 'arm_points', 'margin',  'spread'))

# Display the first few rows of the dataframe
print(df.head())
print(df.tail())

        week  frm_30 points_30  frm_15  points_15  arm  arm_points  margin  \
0 1971-04-02    7.33       NaN     NaN        NaN  NaN         NaN     NaN
1 1971-04-09    7.31               NaN        NaN  NaN         NaN     NaN
2 1971-04-16    7.31               NaN        NaN  NaN         NaN     NaN
3 1971-04-23    7.31               NaN        NaN  NaN         NaN     NaN
4 1971-04-30    7.29               NaN        NaN  NaN         NaN     NaN

   spread
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
           week  frm_30 points_30  frm_15  points_15  arm  arm_points  margin  \
2769 2024-04-25    7.17       NaN    6.44        NaN  NaN         NaN     NaN
2770 2024-05-02    7.22       NaN    6.47        NaN  NaN         NaN     NaN
2771 2024-05-09    7.09       NaN    6.38        NaN  NaN         NaN     NaN
2772 2024-05-16    7.02       NaN    6.28        NaN  NaN         NaN     NaN
2773 2024-05-23    6.94       NaN    6.24        NaN  NaN         NaN     NaN

      spread
2769     NaN
2770     NaN
2771     NaN
2772     NaN
2773     NaN

In [ ]:
print(df.memory_usage(deep=True))

Index           128
week          22192
frm_30        22192
points_30     90762
frm_15        22192
points_15     22192
arm           22192
arm_points    22192
margin        22192
spread        22192
dtype: int64

In [ ]:
print(filtered_df_date_range.memory_usage(deep=True))

Index          584
week           584
frm_30         584
points_30     2336
frm_15         584
points_15      584
arm            584
arm_points     584
margin         584
spread         584
dtype: int64

In [5]:
df = pd.DataFrame(df)

# Convert Datetime column to datetime type
df['week'] = pd.to_datetime(df['week'])

date_filter = pd.to_datetime('2022-01-01')

df = df[(df['week'] >= date_filter)]
# Create a column with the previous year's values
df['Previous_Year_Value'] = df['frm_30'].shift(52)
df['Previous_Year_Value_15'] = df['frm_15'].shift(52)

df['Previous_year_week'] = df['week'].shift(52)

# Calculate the Year-over-Year percent change
df['YoY_Change_Percent_30'] = (df['frm_30'] - df['Previous_Year_Value']) / df['Previous_Year_Value']
df['YoY_Change_Percent_15'] = (df['frm_15'] - df['Previous_Year_Value_15']) / df['Previous_Year_Value_15']

print(df.tail())

           week  frm_30 points_30  frm_15  points_15  arm  arm_points  margin  \
2769 2024-04-25    7.17       NaN    6.44        NaN  NaN         NaN     NaN
2770 2024-05-02    7.22       NaN    6.47        NaN  NaN         NaN     NaN
2771 2024-05-09    7.09       NaN    6.38        NaN  NaN         NaN     NaN
2772 2024-05-16    7.02       NaN    6.28        NaN  NaN         NaN     NaN
2773 2024-05-23    6.94       NaN    6.24        NaN  NaN         NaN     NaN

      spread  Previous_Year_Value  Previous_Year_Value_15 Previous_year_week  \
2769     NaN                 6.43                    5.71         2023-04-27
2770     NaN                 6.39                    5.76         2023-05-04
2771     NaN                 6.35                    5.75         2023-05-11
2772     NaN                 6.39                    5.75         2023-05-18
2773     NaN                 6.57                    5.97         2023-05-25

      YoY_Change_Percent_30  YoY_Change_Percent_15
2769               0.115086               0.127846
2770               0.129890               0.123264
2771               0.116535               0.109565
2772               0.098592               0.092174
2773               0.056317               0.045226

In [7]:

df.to_csv('freddie_pmms.csv', index=False)